@import 'https://fonts.googleapis.com/css?family=Share+Tech+Mono';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Share Tech Mono, monospace;
  }
  .cont{
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 4px;
  }
  .container{
    width: 350px;
    height: 450px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
  }
  button{
    appearance: none;
    font-size: 16px;
    box-shadow: 0 0 10px;
    cursor: pointer;
  }
  #display{
    width: 348px;
    height: 80px;
    background-color: rgb(213, 224, 52);
    text-align: right;
    margin-bottom: 2px;
    font-size: 22px;
    line-height: 20px;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
  #clear{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgb(218, 67, 67);
  }
  #back{
    background-color: rgb(109, 93, 93);
  }
  #equals{
    background-color: rgb(22, 139, 47);
  }
  
  
  
  
  #by{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 8px;
  }